body {
    background-color: #d4d2d1;
    background-image: "Assets/PasswordBackground.jpg";
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #474544;
    text-align: center;
    
    
}

div {
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 4px 8px #888888;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}